<footer id="footer" class="site-footer-main">
  <img src="src/images/344_147.svg" alt="Blur effect" class="decorative-blur footer-blur-1">
  <img src="src/images/344_149.svg" alt="Blur effect" class="decorative-blur footer-blur-2">
  <div class="container">
    <div class="footer-top">
      <div class="footer-info">
        <a href="#" class="footer-logo">
          <img src="src/images/198957da308ca8300bab9a2d87953371f5117f46.png" alt="Credo's Logo">
        </a>
      </div>
    </div>
  </div>
</footer>
